# ignore everything in $HOME
/*
# ... except ...
!/.bash-git-prompt
!/.bash.d
!/.bashrc
!/.bash_profile
!/.emacs
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.git_template
!/.gnu-emacs
!/.gnu-emacs-custom
!/.module-starter
!/.profile
!/.profile.d
!/.rpmmacros
!/.screenrc
!/.sqliterc
!/.vim
# but ignore .vim/.netrwhist
/.vim/.netrwhist
# and ignore vim Vundle bundles
/.vim/bundle/*
# except Vundle itself
!/.vim/bundle/Vundle.vim
!/.vimrc
!/bin/
!/README.md
.*.sw?
